---
import BaseLayout from "@layouts/BaseLayout.astro";
import Container from '@components/base/Container.astro';
import FormattedDate from '@components/FormattedDate.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const { frontmatter } = Astro.props;
---
<BaseLayout>
	<Container>
		<div class="grid grid-cols-3 gap-8">
			<div class="col-span-2">
				<h1 class="text-2xl font-bold mb-8">{frontmatter.title}</h1>
				<div class="prose max-w-none dark:prose-invert prose-neutral prose-sm md:prose-base prose-headings:font-bold prose-headings:text-neutral-700 prose-a:text-sky-900 prose-ol:marker:text-sky-700 prose-thead:bg-sky-50
		">
					<slot />
				</div>
			</div>
			<div>
				<h2 class="text-xl font-bold mb-8">feature Post</h2>
				<div class="space-y-4">
				{posts.map(p =>
					<a class="group block" href={`/blog/${p.slug}/`}>
						<article class="flex flex-col sm:flex-row gap-3">
							<div class="basis-1/2 overflow-hidden">
								<Image class="group-hover:scale-125 transition-all w-full h-full object-cover" src={p.data.heroImage} alt={p.data.title} loading="eager" width={720} height={360} />
							</div>
							<div class="basis-1/2 space-y-2 mt-3">
								<h4 class="group-hover:text-orange-500 group-hover:dark:text-orange-600 transition-all text-xl font-bold text-neutral-800 dark:text-neutral-200">{p.data.title}</h4>
								<p class="text-neutral-500 dark:text-neutral-400">
									<FormattedDate date={p.data.pubDate} />
								</p>
								<p class="text-neutral-700 dark:text-neutral-300">{p.data.description}</p>
							</div>
						</article>
					</a>
				)}
				</div>
			</div>
		</div>
	</Container>
</BaseLayout>
